body {
	color: white;
  background-color: black;
  font-family: helvetica;
}
.row {
  height: 45px;
  opacity: 0.9;
}

.idle {
  background-color: #3D5259;
}
.selected {
  background-color: #83DD75;
}

.playing {
  background-color: #CC231E;
}

.dz-details, .dz-progress, .dz-success-mark, .dz-error-mark, .dz-error-message {
  display: none;
}

.dropzone {
  padding-top: 20px;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  background-color: #3D5259;
  width: 945px;
  border-radius: 13px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.control {
  cursor: pointer;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.note {
  width: 55px;
  height: 55px;
  border: 2px;
  margin: none;
  border-style: solid;
  border-color: black;
  float: left;
  cursor: pointer;
  border-radius: 13%;
}

.canvas {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 54<D-r>0px;
}
